.ds-container {
   display: flex;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   border-radius: 5px;
   /* width: 100px; */
   height: 70px;
}

.ds-item {
   width: 50px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.d-box {
   display: flex;
   height: 100%;
   width: 100%;
   align-items: center;
   justify-content: space-evenly;
}
.render {
   overflow-x: auto;
}
